<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.task.collate.option.mapper.OptionsMapper">
    
    <resultMap type="Options" id="OptionsResult">
        <result property="id"    column="id"    />
        <result property="questionId"    column="question_id"    />
        <result property="optionLabel"    column="option_label"    />
        <result property="content"    column="content"    />
        <result property="isCorrect"    column="is_correct"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
    </resultMap>

    <sql id="selectOptionsVo">
        select id, question_id, option_label, content, is_correct, created_at, updated_at from options
    </sql>

    <select id="selectOptionsList" parameterType="Options" resultMap="OptionsResult">
        <include refid="selectOptionsVo"/>
        <where>  
            <if test="questionId != null "> and question_id = #{questionId}</if>
            <if test="optionLabel != null  and optionLabel != ''"> and option_label = #{optionLabel}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="isCorrect != null "> and is_correct = #{isCorrect}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
            <if test="updatedAt != null "> and updated_at = #{updatedAt}</if>
        </where>
    </select>
    
    <select id="selectOptionsById" parameterType="Long" resultMap="OptionsResult">
        <include refid="selectOptionsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOptions" parameterType="Options" useGeneratedKeys="true" keyProperty="id">
        insert into options
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="questionId != null">question_id,</if>
            <if test="optionLabel != null and optionLabel != ''">option_label,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="isCorrect != null">is_correct,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="questionId != null">#{questionId},</if>
            <if test="optionLabel != null and optionLabel != ''">#{optionLabel},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="isCorrect != null">#{isCorrect},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
         </trim>
    </insert>

    <update id="updateOptions" parameterType="Options">
        update options
        <trim prefix="SET" suffixOverrides=",">
            <if test="questionId != null">question_id = #{questionId},</if>
            <if test="optionLabel != null and optionLabel != ''">option_label = #{optionLabel},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="isCorrect != null">is_correct = #{isCorrect},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOptionsById" parameterType="Long">
        delete from options where id = #{id}
    </delete>

    <delete id="deleteOptionsByIds" parameterType="String">
        delete from options where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>